<body>
  <header>
    <!--modalテストr-->

    <!--modalテストr-->
    <div class = left-box>
      <div class = icons>
        <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete do%>
              <i class="fas fa-sign-out-alt"></i>
            <% end%>
          <% else %>
            <%= link_to new_user_registration_path do%>
              <i class="fas fa-signature"></i>
            <%end%>
            <br>
            <%= link_to new_user_session_path do%>
              <i class="fas fa-sign-in-alt"></i>
            <% end %>
          <% end %>
            <br>
            <%= link_to new_post_path do %>
              <i class="far fa-plus-square"></i>
            <% end %>
      </div>
    </div>

    <div class = right-box>
      <h1 class = blog >blog</h1>
      <p>This is my first blog. I still have to improve. Do my best.</p>

    </div>

    <%= render 'posts'%>
  </header>


</body>

