<div class = left-box>
  <div class = icons>

<%# ****************************************************** %>
    <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do%>
          <i class="fas fa-sign-out-alt"></i>
          <h4 class = icon-title>Log Out</h4>
        <% end%>
        <br>
        <%= link_to new_post_path do %>
          <i class="far fa-edit"></i>
        <% end %>

    <% else %>

          <%= link_to new_user_registration_path do%>
            <i class="fas fa-signature"></i>
            <h4 class = icon-title>Sing In</h4>

          <%end%>

          <br>
          <%= link_to new_user_session_path do%>
            <i class="fas fa-sign-in-alt"></i>
            <h4 class = icon-title>Log In</h4>
          <% end %>

    <% end %>
  </div>
</div>
<%# ***************************************************** %>
<div class = right-box>
  <h1 class = blog >blog</h1>
  <p>This is my first blog. I still have to improve. Do my best.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--modalテストr-->
    <div class="popupModal1">
      <input type="radio" name="modalPop" id="pop11" />
      <label for="pop11">【about】</label>
      <input type="radio" name="modalPop" id="pop12" />
      <label for="pop12">CLOSE</label>
      <input type="radio" name="modalPop" id="pop13" />
      <label for="pop13">×</label>
    <div class="modalPopup2">
      <div class="modalPopup3">
        <h4 class="modalTitle">このBLOG APPについて</h4>
          <div class="modalMain">
            <p>ご覧いただきありがとうございます。
                <br>
                このブログアプリは、TECH::EXPERTという
                <br>
                プログラミングスクールに入学2週間後の成果発表の為に初めて自作の作品です。
                <br>
                Ruby on Railsで、Scaffoldをベースに作成しました。
                <br>
                機能としてはいたってシンプルで、投稿できるのはタイトルなしの本文のみ。
                <br>
                scaffoldで作られた真っ白な画面を、どこまで装飾できるか？というテーマで
                <br>
                マークアップの練習としてデザインしました。
                </p>
          </div>
        </div>
      </div>
    </div>
        <!--modalテストr-->
</div>
<%= render 'posts'%>


