<div class = left-box>
  <div class = icons>

<%# ****************************************************** %>

      <div class = "icons-and-text" >
    <div class="popupModal1">
      <input type="radio" name="modalPop" id="pop11" />
      <label for="pop11">■　about</label>
      <input type="radio" name="modalPop" id="pop12" />
      <label for="pop12">CLOSE</label>
      <input type="radio" name="modalPop" id="pop13" />
      <label for="pop13">×</label>
    <div class="modalPopup2">
      <div class="modalPopup3">
        <h4 class="modalTitle">このBLOG APPについて</h4>
          <div class="modalMain">
            <p>ご覧いただきありがとうございます。
                <br>
                このブログアプリは、TECH::EXPERTという
                <br>
                プログラミングスクールに入学2週間後の成果発表の為に初めて自作の作品です。
                <br>
                Ruby on Railsで、Scaffoldをベースに作成しました。
                <br>
                機能としてはいたってシンプルで、投稿できるのはタイトルなしの本文のみ。
                <br>
                scaffoldで作られた真っ白な画面を、どこまで装飾できるか？というテーマで
                <br>
                マークアップの練習としてデザインしました。
                <br>
                Sign Up/Log Inしていただくと、投稿ボタンが出現します。
                </p>
          </div>
        </div>
      </div>
    </div>
      </div>

    <% if user_signed_in? %>

        <%# ハリボテSIGN-IN %>
      <div class = "icons-and-texta" >
          <div class = "icon-title"style = "color: grey;">■　Sign Up</div>
      </div>
        <%# ハリボテSING-Out %>
      <div class = "icons-and-texta">
          <div class = "icon-title"style = "color: grey;">■　Log In </div>
      </div>

        <%= link_to destroy_user_session_path, method: :delete do%>
      <div class = "icons-and-text">
          <div class = icon-title>■　Log Out</div>
      </div>
        <% end %>

        <%= link_to new_post_path do %>
      <div class = "drop-icon">
          <i class="far fa-edit"></i>
      </div>
        <% end %>
<%# elseelseelseelseelseelseelse %>
    <% else %>
<%# elseelseelseelseelseelseelse %>
    <%= link_to new_user_registration_path do%>
      <div class = "icons-and-text" >
          <div class = "icon-title">■　Sign Up</div>
      </div>
    <%end%>
  
    <%= link_to new_user_session_path do%>
      <div class = "icons-and-text">
          <div class = "icon-title">■　Log In </div>
      </div>
    <% end %>


      <div class = "icons-and-texta">
          <div class = "icon-title" style = "color: grey;">■　Log Out</div>
      </div>

    <% end %>
  </div>
</div>
<%# ***************************************************** %>
<div class = right-box>
  <h1 class = blog >blog</h1>
  <p>This is my first blog. I still have to improve. Do my best.</p>

</div>
<%= render 'posts'%>


